<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{cart.title}"></title>
</head>
<body>
<p>
  <a href="/shop" th:text="#{cart.title}"></a>
</p>
<h1 th:text="#{shop.heading}"></h1>
<form th:action="@{/shop}" th:object="${cart}" method="post">
  <h3 th:text="#{cart.totalitem}"><span th:text="${cart.countItemQuantity()}"></span></h3>
  <h3 th:text="#{cart.product}"><span th:text="${cart.countProductQuantity()}"></span></h3>
  <table border="1">
    <tr>
      <th th:text="#{cart.item}"></th>
      <th th:text="#{cart.quantity}"></th>
      <th th:text="#{shop.price_label}"></th>
    </tr>
    <tr th:each="product: ${cart.products}">
      <td th:text="${product.getKey().name}"></td>
      <td>
        <a id="decrease_button" th:href="@{/add/__${product.getKey().id}__(action='decrease')}" th:text="${'-'}"></a>
        <span th:text="${product.getValue()}"></span>
        <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
           th:text="${'+'}"></a>
      </td>
      <td th:text="${product.getKey().price}"></td>
    </tr>
    <tr>
      <td th:text="#{cart.total}"></td>
      <td></td>
      <td th:text="${cart.countTotalPayment()}"></td>
    </tr>
  </table>
</form>
</body>
</html>